@import "tailwindcss";

@theme {
  --color-success: oklch(0.7346 0.084 162);
  --color-success-subtle: oklch(0.7346 0.084 162 / 75%);

  --color-failure: oklch(0.586 0.1841 21.33);
  --color-failure-subtle: oklch(0.586 0.1841 21.33 / 75%);

  --color-info: oklch(0.9463 0.0407 108.66);
  --color-info-subtle: oklch(0.9463 0.0407 108.66 / 75%);

  --color-warning: oklch(0.3725 0.0233 331.64);
  --color-warning-subtle: oklch(0.3725 0.0233 331.64 / 75%);

  --color-primary: oklch(0.9624 0.0042 236.5);
  --color-primary-subtle: oklch(0.9624 0.0042 236.5 / 75%);

  --color-secondary: oklch(0.9016 0.0035 219.54);
  --color-secondary-subtle: oklch(0.9016 0.0035 219.54 / 75%);

  --color-tertiary: oklch(0.8096 0.0699 219.71);
  --color-tertiary-subtle: oklch(0.8096 0.0699 219.71 / 75%);
}
